<h1>Welcome to the Blackjack Casino</h1>
<img src="images/blackjack_logo.jpg" >
<h3> Let's get you started!</h3>
<form action="/form" method="get">
  <input type="submit" class="btn" value="Let's Play!">
</form>