#hit_form {
  float: left;
  margin-right: 10px;
}

#stay_form {
  float: left;
}

.card_image {
  margin-right: 10px;
  margin-top: 10px;
}

#play_yes {
  float: left;
  margin-right: 10px;
}

#play_no {
  float: left;
}

#fist_bump {
  margin-top: 5px;
  margin-left: 20px;
}